
.listad{ background-color:#fff; }
.listad ul{ width:1200px; height:165px; margin:0 auto; background-color:#f1f1f1;  position:relative;}
.listad ul li{ float:left; margin-right:30px; width:255px; height:133px; background-color:#fff; margin-top:18px; }
.listad .remai{ position:absolute; left:0px;}
.listad  .one{ margin-left:60px;}
.listad ul li img{ float:left;}
.listad ul li span{ font-size:12px; margin-top:18px; padding:0px 30px 0px 10px; display:block; }
.listad ul li span p a{ padding:8px 25px;  border:1px solid #ededed; text-align:center; margin-left:10px;}
.listad ul li span p{ margin-top:20px;}
.listselect{}
.listselect .listselectcenter{ width:1200px; margin:0 auto; font-size:12px; position:relative;}
.listselectcenter li{ padding:10px 0 10px 0px;}
.listselectcenter li .a1{ font-size:20px; font-weight:bold; margin-top:-10px; color:#666; }
.listselectcenter li em{ font-size:14px; font-weight:bold; margin:0 22px 0 13px; float:left; }
.listselectcenter .one{  padding:10px 0; width:1200px; border-bottom:1px solid #ddd; background-color:#f1f1f1;}
.listselectcenter .two{ margin-top:16px;}
.listselectcenter span{ margin-left:13px; float:left;}
.listselectcenter li{ border-bottom:1px dashed #CCC; overflow:hidden;  }
.listselectcenter li img{ float:left;}
.listselectcenter li a{ float:left; margin-right:35px; color:#3a80a0;}
.listselectcenter li div{ margin-left:85px; float:left; margin-right:160px; }
.listselectcenter .inputtext div{ margin-right:270px;}
.listselectcenter .inputtext input{ height:20px; width:40px;}
.listselectcenter .inputtext .submit_2{ height:23px; width:40px; background-color:#F3F3F3; border:1px solid #ddd;}
.listselectcenter li .a3{ border:1px solid #ddd; color:#666; padding:5px 14px; margin:-5px 10px 0px 0px; float:right;}
.listselectcenter li .a4{  border:1px solid #ddd; color:#666; padding:5px 14px; margin:-5px 10px 0px 0px; float:right; margin-top:-90px;}
.listselectcenter li .a5{  margin-top:-85px; margin-left:1020px; color:#666;}
.listselectcenter li .a5 img{ float:left; margin-left:15px; border:1px solid #ededed; width:23px; height:23px; margin-top:-3px; }
.listselectcenter li .a2{ float:right; margin-top:-18px; }
.listselectcenter li .a2 span{ float:left;color:#666;}
.listselectcenter li .a2 img{ float:left; margin-left:15px; border:1px solid #ededed; width:23px; height:23px; margin-top:-3px; }
.listselectcenter .li4{ border-bottom:1px solid #ddd; overflow:hidden;}
.listselectcenter .li4 .div1{ position:absolute;  border:1px solid #ddd; width:200px; height:27px; bottom:123px; border-top:0; background-color:#fff; margin-left:500px; line-height:27px; }
.listselectcenter .li4 .div1 img{ margin-top:5px;}
.listselectcenter .li4 span{float:left;}
.listselectcenter .li4 img{ float:left; } 

.listselectcenter .li5{ padding-left:15px; margin-top:36px; background-color:#f1f1eb; border-bottom:1px solid #ddd;}
.listselectcenter .li5 a{ float:left; color:#666; font-size:12px; padding:0 10px; border:1px solid #ddd; border-right:0px; margin:0px; height:25px; line-height:25px; background-color:#fff; }
.listselectcenter .li5 .a6{ border-right:1px solid #ddd;}
.listselectcenter .li5 .a7 a{ border-left:0px; border-right:1px solid #ddd; }
.listselectcenter .li5 div input{ float:left; height:25px; width:195px; border-right:0px; border:1px solid #ddd; color:#666; font-size:12px;}
.listselectcenter .li5 .red{ background-color:#e4393c; color:#fff;}
.li5 .li5right { float:right; margin-right:13px;}
.li5 .li5right span em{ color:#e4393c;}
.li5 .li5right span{float:left; font-weight:bold; margin-left:0px;}
.li5 .li5right a{ float:left; }
.li5 .li5right .a5{ background-color:#f1f1eb; border-right:0px;}
.li6>a{ border:1px solid #ddd; padding:5px 8px; margin-top:-5px; color:#666;}
.li6>span>input{ border:1px solid #F00; background-color:#fff; height:15px; width:15px; }
.li6{ border-bottom:1px solid #ddd;  background-color:#F9F9F9; overflow:hidden;}
.li6 .as{ color:#666; background:url(../imgs/list/4-%E9%B1%BF%E9%B1%BC%E7%BD%91%E5%88%97%E8%A1%A8%E9%A1%B5_03%20(5).png) no-repeat right;}
.listcontent .listcontentcenter{ width:1200px; margin:0 auto; font-size:12px; color:#666; overflow:hidden; background-color:#fff;} 
.listcontent .listcontentcenter .ulone{  width:230px; background-color:#fff; margin-right:10px; overflow:hidden; float:left; } 
.listcontent .listcontentcenter .ulone .img1{ margin:0px; padding:0px;}
.listcontent .listcontentcenter .ulone li{ overflow:hidden; padding-left:10px;}
.listcontent .listcontentcenter .ulone .img1 img{ float:left;}
.listcontent .listcontentcenter .ulone .img1 a{ float:left;}
.listcontent .listcontentcenter .ulone .img2 img{ float:right; margin-right:10px;}
.listcontent .listcontentcenter .ulone .img2 a{ float:left;}
.listcontent .listcontentcenter .ulone .img3 img{ float:left; margin-right:15px;}
.listcontent .listcontentcenter .ulone .img3 a{ float:left; color:#009fde;}
.listcontent .listcontentcenter .ulone .img1 .div1{ overflow:hidden; float:left; padding:12px 10px; border:1px solid #ddd; border-right:0px; }
.listcontent .listcontentcenter .ulone .img1 .div2{ overflow:hidden; float:left; padding:12px 5px; border:1px solid #ddd; border-right:0px; }
.listcontent .listcontentcenter .ulone .img1 .div3{ overflow:hidden; float:left; padding:12px 15px; border:1px solid #ddd; }
.listcontent .listcontentcenter .ulone .img2{ background-color:#f3f3f3;}
.listcontent .listcontentcenter .ulone .img3{ background-color:#f3f3f3; margin-top:30px;  }

.listcontent .listcontentcenter .ulone>li>h3{ color:#e4393c; font-size:18px; padding:8px 0px;}
.listcontentdowncenter{ width:1200px; margin:35px auto; text-align:center; font-size:12px; color:#666;}
.listcontentdowncenter a{ padding:10px 20px; border:1px solid #ddd;}
.listcontentdowncenter span{ margin:0 10px;}
.listcontentdowncenter input{ height:30px; width:30px;}
.listcontentdowncenter .inputlast{ background-color:#f5f5f5; border:1px solid #ddd; width:45px; height:30px;}
.listcontentdownone,.listcontentdowntwo{ width:1200px; margin:0 auto; border:1px solid #ddd; height:370px;}
.listcontentdownone dt,.listcontentdowntwo dt{ padding-left:15px; height:40px; line-height:40px; border-bottom:1px solid #ddd; font-size:12px; color:#666;}
.listcontentdownone dd,.listcontentdowntwo dd{ width:192px; font-size:12px; color:#666; margin-left:40px; float:left;}
.listcontentdownone dd h3{ color:#ff0000; font-size:18px; font-weight:bold;}
.listcontentdownone dd  a{ color:#005ac6;}
.listcontentdowntwo{ margin-top:13px;}
.listcontentdowntwo dd h4{ text-align:center; color:#ff0000; font-size:14px;  font-weight:normal;  }
.listcontentdowntwo dd  a{color:#005ac6; margin-left:40px;} 
.listcontentdownthree{ width:1200px; margin:0 auto; border:1px solid #ddd; height:200px; margin-top:13px; overflow:hidden;}
.listcontentdownthree dt{ padding-left:15px; height:40px; line-height:40px; border-bottom:1px solid #ddd; font-size:12px; color:#666; }
.listcontentdownthree dd{ float:left; width:117px; font-size:12px; color:#666; }
.listcontentdownthree dd h4{ font-size:14px;  color:#ff0000; text-align:center; font-weight:normal; }
.listsearch{ margin:0 auto; width:1200px; overflow:hidden; padding-left:450px;}
.listsearch input{ width:415px; height:35px; border:1px solid #ff0000;margin:40px 0; color:#666; font-size:12px; float:left;  line-height:35px;}
.listsearch span{  width:85px; display:inline-block; background:#c81623; padding-top:7px; padding-bottom:8px; float:left; margin-top:40px; text-align:center;  }
.listsearch span a{ text-align:center; color:#fff; margin-left:13px; font-size:16px; }